.cat-gif {
  padding: auto;
  width: clamp(200px, 50%, 800px);
}
.gif-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px){
  .cat-gif{
    margin-bottom: 5rem;
  }
}