.feedback{
  counter-reset: headings;

}
.feedback h3 {
  counter-increment: headings;
}
.feedback h3::before {
  content: counter(headings);
}
.feedback-menu {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-around;
}
.feedback-button:focus-within + .feedback-menu {
  visibility: visible;
  opacity: 1;
}
.feedback-button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.feedback-menu a{
  padding: 1rem;
  margin: .2rem;
  background: orange;
  text-decoration: none;
}
.feedback-form {
  display: none;
  flex-direction: column;
}
.card-list {
  display: flex;
  padding: 3rem;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: darkblue;
  box-shadow: -1rem 0 3rem black;
  color: white;
  transition: .2s;
}
.card:hover {
  transform: translateY(-1rem);
}
.card:hover ~ .card {
  transform: translateX(130px);

}
.card:not(:first-child) {
  margin-left: -130px;
}
@media only screen and (max-width: 600px){
  .card{
    display: none;
  }
}
